body {
    font-family: sans-serif;
}
.container {
    display: flex;
}
.image-list, .grid {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.image-list {
    display: flex;
    flex-wrap: wrap;
}
.image-list img {
    width: 80px;
    height: 80px;
    margin: 5px;
    cursor: grab;
}
.grid {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 0;
}
.grid .cell, .grid .corner, .grid .horizontal-constraint, .grid .vertical-constraint {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid .cell {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
}
.grid .corner {
    width: 60px;
    height: 60px;
    justify-content: right;
}
.grid .horizontal-constraint {
    width: 60px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.grid .vertical-constraint {
    width: 40px;
    height: 60px;
    margin-left: 8px;
    cursor: pointer;
}
.grid .vertical-constraint img, .grid .horizontal-constraint img, .grid .corner img {
    max-width: 100%;
    max-height: 100%;
}
.grid .cell img {
    width: 80px;
    height: 80px;
}
img {
    z-index: 10;
}
.red-filter {
    filter: invert(18%) sepia(100%) saturate(7473%) hue-rotate(1deg) brightness(97%) contrast(119%);
}
.green-filter {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(40deg) brightness(97%) contrast(80%);
}
.mirror-horizontal {
    transform: scaleY(-1);
}
.mirror-vertical {
    transform: scaleX(-1);
}
#counting {
    display: none;
    margin-top: 1em;
}
#canvas {
    display: none;
}
.saved-puzzle {
    margin: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #ccc;
}
.saved-puzzle img {
    width: 150px;
    height: 150px;
    margin: 5px;
}