.container {
    display: flex;
}
.image-list, .grid {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.image-list {
    display: flex;
    flex-wrap: wrap;
}
.image-list img {
    width: 80px;
    height: 80px;
    margin: 5px;
    cursor: grab;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
    gap: 0;
}
.grid .cell {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid .cell img {
    width: 80px;
    height: 80px;
}
img {
    z-index: 10;
}
.red-filter {
    filter: invert(18%) sepia(100%) saturate(7473%) hue-rotate(1deg) brightness(97%) contrast(119%);
}
.green-filter {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(40deg) brightness(97%) contrast(80%);
}